---
http_interactions:
- request:
    method: post
    uri: https://signin.lds.org/login.html
    body:
      encoding: US-ASCII
      string: username=username&password=valid_password
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Tue, 17 Apr 2012 21:17:32 GMT
      Etag:
      - '"2cd2-16a-4bde677825300"'
      Content-Type:
      - text/html
    body:
      encoding: UTF-8
      string: "<!DOCTYPE HTML>\n<html><head>        \n<meta http-equiv=\"content-type\"
        content=\"text/html;charset=UTF-8\">\n<meta http-equiv=\"refresh\" content=\"0;
        url=https://www.lds.org/\">\n<meta http-equiv=\"cache-control\" content=\"no-cache,
        must-revalidate\">\n<meta http-equiv=\"expires\" content=\"0\">\n<meta http-equiv=\"pragma\"
        content=\"no-cache\">\n</head>\n<body>\n1830\n</body>\n</html>\n"
  recorded_at: Tue, 16 Apr 2013 06:45:17 GMT
- request:
    method: post
    uri: https://signin.lds.org/login.html
    body:
      encoding: US-ASCII
      string: username=username&password=invalid_password
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 302
      message: Found
    headers:
      Location:
      - /SSOSignIn/
      Content-Type:
      - text/html; charset=iso-8859-1
    body:
      encoding: UTF-8
      string: |
        <!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML 2.0//EN">
        <html><head>
        <title>302 Found</title>
        </head><body>
        <h1>Found</h1>
        <p>The document has moved <a href="/SSOSignIn/">here</a>.</p>
        </body></html>
  recorded_at: Tue, 16 Apr 2013 06:45:18 GMT
recorded_with: VCR 2.4.0
